* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

html {
    height: 100%;
    width: 100%;
    --base-white: #FFFFFF;
    --base-green: #596D48;
    --base-border-clr: #E5E7EB;
    --focus-border-clr: blue;
    --invalid-border-clr: red;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--base-green);
}

main {
    height: 100%;
    width: 1100px;
    display: flex;
    align-items: center;
}

.image-area {
    height: 100%;
    width: 40%;
    background: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    position: relative;
}

.logo-container {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 150px;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--base-white);
}

img {
    height: 85px;
    width: auto;
}

h1 {
    font-size: 70px;
    font-family: norse-bold, sans-serif;
    margin-top: 20px;
}

a {
    text-decoration: underline;
    color: inherit;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    color: var(--base-white);
    width: 100%;
    height: auto;
    opacity: .7;
}

.form-area {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: rgb(248,248,248);
}

.form-header {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-div {
    padding: 20px;
    box-shadow: 0px 2px 5px grey;
    background: var(--base-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .form-body {
    padding: 20px;
    box-shadow: 0px 2px 5px grey;
    background: var(--base-white);
} */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.input-div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row>div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label,
input {
    float: left;
}

label {
    text-transform: uppercase;
    font-size: 12px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    height: 25px;
    width: auto;
    padding: 0 5px;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 3px grey;
}

input::placeholder {
    color: grey;
    opacity: .5;
}

input:focus::placeholder {
    color: transparent;
}

.btn-div {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    height: 40px;
    width: 200px;
    background: var(--base-green);
    color: var(--base-white);
    border: none;
    border-radius: 7px;
    box-shadow: 1px 3px 5px grey;
    transition: .3s;
}

button:hover {
    background: var(--base-border-clr);
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.large {
    font-size: 20px;
}

.form-title>p.small {
    color: black;
    font-size: 12px;
}

.login-container a {
    text-decoration: none;
    color: var(--base-green);
}

/* input.error {
    border: 1px solid red;
} */

footer {
    height: auto;
    width: 900px;
    color: rgba(0,0,0,.7);
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: var(--base-white);
}